GeoAlchemy @ https://github.com/hozn/GeoAlchemy/archive/0.7.3dev1.tar.gz
PyMySQL==0.9.3
SQLAlchemy>=1.2.1,<1.3.0
alembic==0.9.7
marshmallow-enum @ https://github.com/lyft/marshmallow_enum/archive/support-for-marshamallow-3.tar.gz
marshmallow==3.14.1
